.imagediv{
    width: 100%;
    height: 400px;

}

.bg-model{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.model-content{
    height: auto;
    width: 600px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    padding: 10px;

}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.info{
    display: inline-block;
}

mat-spinner{
    margin: 0 auto;
}
