<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="container" style="margin-bottom: 10px;margin-top: 10px;" *ngIf="!isLoading" >
        <div class="row imagediv" style="background: url({{post.imagePath}});background-repeat: no-repeat;background-size:cover;">
            
        </div>
    </div>
    <div class="container" *ngIf="!isLoading">
        <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="info">
                    <h1>{{post.title}}</h1>
                    <p>Organised by : <span>{{post.organiser}}</span></p>
                    <p>Date : <span>{{post.date.slice(0,10)}}</span></p>
                </div>
                           
            </div>
            <hr>
            <div class="row" class="info">
                <h2>Info</h2>
                <p>{{post.content}}</p>
            </div>
    
            </div>
        
        <div class="col-sm-4" style="text-align: center;">
            <button (click)="register()" class="btn btn-primary">Register Here</button>
        </div>
        </div>
        <!-- End of content/ event information -->
    </div>
    
</div>

