<div class="container" style="text-align: center;">
    <p>REGISTER HERE</p>
</div>
<div class="container">
    <form action="">
        <div class="row">
            <div class="col-sm-6">
                <label for="fullname">Full Name:</label>
            </div>
            <div class="col-sm-6">
                <input type="text" name="fullname" id="fullname" placeholder="Full Name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="mobileNo">Mobile No:</label>
            </div>
            <div class="col-sm-6">
                <input type="tel" name="mobileNo" id="mobileNo" placeholder="Mobile">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="email">Email address:</label>
            </div>
            <div class="col-sm-6">
                <input type="email" #email placeholder="Enter email..." class="form-control" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="regtype">Registration Type:</label>
            </div>
            <div class="col-sm-6">
                <select id="reg" name="reg">
                    <option value="self">Self</option>
                    <option value="group">Group</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="totalticket">Ticket count:</label>
            </div>
            <div class="col-sm-6">
                <input type="number" class="totalticket" id="totalticket" placeholder="Total tickets">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="file">Upload:</label>
            </div>
            <div class="col-sm-6">
                <input type="file" id="myFile" name="filename2">
            </div>
        </div>
         
        <br>
        <button type="submit" (click)="gotoConfirm()" class="btn btn-primary" style="float: right;">Submit</button>

        
      </form> 
  </div>


