a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: white;
    font-weight: bold;
}

.card{
    margin-bottom: 10px;
    margin-right: 20px;
    transition-duration: 0.5s;
}

.card:hover{
    transform: scale(1.02);
    z-index: 100;
    
}

.card{
    background-color: rgb(215, 221, 241);
}

img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: auto;
}

.event{
    max-width: 400px;
    margin: 10px;
    
  
}

.info-text{
    text-align: center;
    margin-top: 1rem;
}

mat-spinner{
    margin: auto;
}

mat-paginator{
    margin-top: 1rem;
    
}

.postimage{
    width: 100%;
}

.postimage img{
    width: 100%;
}

.col{
    width: 33.3%;
    float: left;
}

.row{
    width: 100%;
}