<div class="container">
    <h3>Live Events</h3>
    <div class="row">
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4"><!--  *ngFor = "let person of fetchedRecipe" -->
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/coming_soon.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Event title</h4>
              <p class="card-text">Organiser</p>
              <p class="card-text">
                Info...
              </p>
              <a  (click)="callthis()" class="btn btn-primary">Register</a>
            </div>
          </div>
      </div>
    </div>
  </div> 