<div class="container" style="text-align: center;">
    <h1 style="font-weight: bold;"> SIGN UP</h1>
</div>
<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  *ngIf="!isLoading" (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <div class="row">
            <div class="col-sm-6">
                <label for="fullname">Full Name:</label>
            </div>
            <div class="col-sm-6">
                <input type="text" name="fullname" ngModel id="fullname" placeholder="Full Name" #fullnameInput="ngModel" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="fullname">Password:</label>
            </div>
            <div class="col-sm-6">
                <input type="password" ngModel name="password" id="password" placeholder="Password" #passwordInput="ngModel" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="fullname">Confirm Password:</label>
            </div>
            <div class="col-sm-6">
                <input type="password" ngModel name="cpassword" id="cpassword" placeholder="Confirm Password" #cpasswordInput="ngModel" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="mobileNo">Mobile No:</label>
            </div>
            <div class="col-sm-6">
                <input type="tel" ngModel name="mobileNo" id="mobileNo" placeholder="Mobile" #mobilenoInput="ngModel" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="email">Email address:</label>
            </div>
            <div class="col-sm-6">
                <input type="email" ngModel name="email" #emailInput="ngModel" placeholder="Enter email..." class="form-control" id="email" required email>
            </div>
        </div>       
         
        <br>
        <button type="submit" class="btn btn-primary" style="float: right;" *ngIf="!isLoading">Submit</button>
        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

        
      </form> 
      <div class="alert alert-success" *ngIf="successfulSignup">
        <strong>Success!</strong> Indicates a successful or positive action.
      </div>
      <!-- <div class="row" *ngIf="successfulSignup">
          <p>You have successfully signed up.</p>
          <span>Click here to login</span><a class="btn btn-primary" routerLink="/">Click</a>
      </div> -->
  </div>


