 <app-nav-bar></app-nav-bar>

 <div class="container-fluid">
     <div class="row" >
         <div class="col-sm-7" >
            <div class="row">
                <img src="../../assets/images/events 1.svg" alt="">
            </div>
       
         </div>
         <div class="col-sm-5" >

                <div class="login">
                    <app-login (childEvent)="message=$event"></app-login>
                    
                </div>   
         </div>
     </div>
 </div>

 <router-outlet></router-outlet>
    
 
 <!-- Model Section -->

 <div class="bg-model" [style.display]="getDisplay()">
     <div class="model-content">
         <div class="close" (click)="closeModel()" >+</div>
        <app-signup></app-signup>
     </div>

 </div>

 
